apiVersion: v1
kind: Service
metadata:
  labels:
    app: canary-demo
  name: canary-demo
  namespace: default
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    nodePort: 30002
  selector:
    app: canary-demo
  type: NodePort
